.profile-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  
}

.profile-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-circle {
  position: relative;
  border-radius: 50%;
  width: 180px;
  height: 170px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.edit-button {
   position: absolute;
   bottom: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgb(68,114, 196); 


}


 .actions-container {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  gap: 10px;
} 

.logout-button, .add-post-button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #c2185b;
  text-decoration: none;

}


.edit-popup input[type="color"] {
  width: 100%;
  margin-bottom: 10px;
}

.edit-popup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-popup input[type="text"],
.edit-popup input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #c2185b;
  color: white;
  cursor: pointer;
  border: none;
}

.edit-popup button:hover {
  background-color:  #a0134a;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-top: 1px solid rgb(68,114, 196);
  padding-top: 20px;
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  border: 1px solid rgb(112, 48, 160);
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
  margin: 0 5px;
}

.stat-item h3 {
  margin-right: 10px;
  font-size: 24px;
}

.stat-item h2 {
  font-size: 18px;
  font-weight: bold;
}

.posts-section {
  border-top: 1px solid rgb(68,114, 196);
  padding-top: 20px;
}

.post-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(112, 48, 160);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-item .post-title {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  margin-top: 10px; 
  text-align: left; 
}

.post-item button {
  background: none;
  border: none;
  cursor: pointer;
}

.post-item button.delete {
  color: red;
}

.post-item button.edit {
  color: blue;
}


.edit-popup {
  position: fixed; 
  top: 45%; 
  left: 57%; 
  transform: translate(-50%, -50%); 
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 10;
}

.cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px; 
  height: 30px;
  border: none;
  color: white;
  border-radius: 50%; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1; 
  background-color: #c2185b;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-circle {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .actions-container {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px; 
  }

  .logout-button, .add-post-button {
    margin-bottom: 10px; 
  }
}

@media (max-width: 1200px) {
  .profile-stats {
    flex-direction: column;
  }
  
  .stat-item {
    margin-bottom: 10px; 
    text-align: center;  

    justify-content: center;
  }
}

@media (max-width: 1300px ) and (min-width: 769px) {
  .profile-container {
    margin-left: 270px; 
    width: calc(100% - 270px); 
  transition: all 0.3s ease;
  }
}
