.comment-wrapper {
    display: flex;
    margin-bottom: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.avatar{
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px; 
}

.comment-container {
    border: 1px solid purple;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.comment-header {
    font-size: 12px;
    color: #777;
    margin-bottom: 5px;
}

.comment-text {
    font-size: 16px;
    color: #333;
    margin-top: 10px; 
    text-align: left; 
}
