.post-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 600px; 
    min-height: 120px; 
    position: relative;
    margin: 0 auto;
    /* border: 1px solid blue; */
    border: 1px solid #7C4DFF;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: -25px; 
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.post-content {
    display: flex;
    flex-direction: column;
    margin-left: 40px; 
}

.post-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.post-author {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.post-text {
    font-size: 16px;
    margin-bottom: 13px;
}


.comment-container {
    align-items: flex-start;
    margin-bottom: 15px;
}


.comment-content {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}



